@font-face {
  font-family: AMISH;
  src: url("../Font/AmishCyborg-Regular.otf") format("openType");
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: azure;
  border: 2px white solid;
  border-radius: 20px;
  width: 400px;
  margin: 10px auto;
  padding: 10px;
  background-color: rgb(5, 150, 135);
}

.footer__button {
  position: relative;
  background-color: transparent;
  border: 0;
  width: 120px;
  height: 80px;
  border: 0;
  color: white;
  background-color: none;
  /* background-image: url(../image/Rick-and-morty.jpg); */
  background-size: 94%;
}

.footer__button--active {
  background-color: transparent;
  border: 0;
  width: 120px;
  height: 80px;
  border: 0;
  color: white;
  background-color: none;
  background-image: url(../image/Portal.gif);
  background-size: 96%;
  background-position: center;
  transition: 1s;
  transform: scaleZ(1, 100);
}

.footer__text {
  letter-spacing: 1px;
  font-size: 15px;
}

.footer__gif {
  position: sticky;
  height: 5rem;
}
