.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: azure;
  border: 2px black solid;
  border-radius: 20px;
  width: 400px;
  margin: 10px auto;
  padding: 10px;
}

.footer__button {
  background-color: transparent;
  border: 0;
  width: 120px;
  height: 80px;
  border: 0;
  color: white;
  background-color: none;
  background-image: url(../image/Portal.gif);
  background-size: 94%;
}
