@font-face {
  font-family: Regular;
  src: url("../Font/get_schwifty.ttf") format("truetype");
}

h1 {
  margin: 5px;
  font-family: Regular;
}

p {
  margin: 5px;
}

.Header__styling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
  border-radius: 20px;
  width: 400px;
  margin: 10px auto;
}
