@font-face {
  font-family: Regular;
  src: url("../Font/get_schwifty.ttf") format("truetype");
}

@font-face {
  font-family: AMISH;
  src: url("../Font/AmishCyborg-Regular.otf") format("openType");
}
