@font-face {
  font-family: Regular;
  src: url("../Font/get_schwifty.ttf") format("truetype");
}

@font-face {
  font-family: AMISH;
  src: url("../Font/AmishCyborg-Regular.otf") format("openType");
}

h1 {
  padding: 5px;
  margin: 10px;
  font-family: Regular;
}

p {
  font-family: AMISH;
  padding: 5px;
}

.Header__styling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px white solid;
  border-radius: 20px;
  width: 400px;
  margin: 10px auto;
  background-color: rgb(5, 150, 135);
}

.header__image {
}
